In [1]:
import pandas as pd
import numpy as np

autos = pd.read_csv("autos.csv", encoding="Latin-1")

In [2]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

Initial observations that been made were:
    notRepairedDamage column has high null value rate (%20)

In [3]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [4]:
to_replace = {"yearOfRegistration":"registration_year",
              "monthOfRegistration":"registration_month",
              "notRepairedDamage":"unrepaired_damage",
              "dateCreated":"ad_created",
              "dateCrawled":"date_crawled",
              "lastSeen":"last_seen"}
autos.rename(to_replace,axis=1,inplace=True) #use inplace to change the source df
labels = autos.columns
new_labels = []
for i in labels:
    i = i.lower()
    new_labels.append(i)
autos.columns = new_labels

In [5]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        50000 non-null  object
 1   name                50000 non-null  object
 2   seller              50000 non-null  object
 3   offertype           50000 non-null  object
 4   price               50000 non-null  object
 5   abtest              50000 non-null  object
 6   vehicletype         44905 non-null  object
 7   registration_year   50000 non-null  int64
 8   gearbox             47320 non-null  object
 9   powerps             50000 non-null  int64
 10  model               47242 non-null  object
 11  odometer            50000 non-null  object
 12  registration_month  50000 non-null  int64
 13  fueltype            45518 non-null  object
 14  brand               50000 non-null  object
 15  unrepaired_damage   40171 non-null  object
 16  ad_created          50000 non-null  object
 17  nrofpictures        50000 non-null  int64
 18  postalcode          50000 non-null  int64
 19  last_seen           50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [6]:
autos.describe(include="all")

,date_crawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,odometer,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-30 19:48:02,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

offertype and seller columns have almost the same values therefore they do not contain any meaningful information. They can be dropped.

In [7]:
autos["offertype"].value_counts()
autos["seller"].value_counts()

privat        49999
gewerblich        1
Name: seller, dtype: int64

price column should be int

In [8]:
autos["price"].value_counts()

$0          1421
$500         781
$1,500       734
$2,500       643
$1,200       639
            ...
$23,890        1
$155,000       1
$5,685         1
$4,994         1
$65,699        1
Name: price, Length: 2357, dtype: int64

In [9]:
autos["odometer"].value_counts()

150,000km    32424
125,000km     5170
100,000km     2169
90,000km      1757
80,000km      1436
70,000km      1230
60,000km      1164
50,000km      1027
5,000km        967
40,000km       819
30,000km       789
20,000km       784
10,000km       264
Name: odometer, dtype: int64

In [10]:
autos["odometer"] = autos["odometer"].str.replace("km","").str.replace(",","").astype(float)

In [11]:
autos.rename({"odometer":"odometer_km"},axis=1,inplace=True)
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        50000 non-null  object
 1   name                50000 non-null  object
 2   seller              50000 non-null  object
 3   offertype           50000 non-null  object
 4   price               50000 non-null  object
 5   abtest              50000 non-null  object
 6   vehicletype         44905 non-null  object
 7   registration_year   50000 non-null  int64
 8   gearbox             47320 non-null  object
 9   powerps             50000 non-null  int64
 10  model               47242 non-null  object
 11  odometer_km         50000 non-null  float64
 12  registration_month  50000 non-null  int64
 13  fueltype            45518 non-null  object
 14  brand               50000 non-null  object
 15  unrepaired_damage   40171 non-null  object
 16  ad_created          50000 non-null  object
 17  nrofpictures        50000 non-null  int64
 18  postalcode          50000 non-null  int64
 19  last_seen           50000 non-null  object
dtypes: float64(1), int64(5), object(14)
memory usage: 7.6+ MB

In [12]:
autos["price"] = autos["price"].str.replace("$","").str.replace(",","").astype(float)

In [13]:
autos["odometer_km"].value_counts().sort_index(ascending=True).head()

5000.0     967
10000.0    264
20000.0    784
30000.0    789
40000.0    819
Name: odometer_km, dtype: int64

In [14]:
autos["odometer_km"].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [15]:
autos["price"].value_counts().sort_index(ascending=False)

99999999.0       1
27322222.0       1
12345678.0       3
11111111.0       2
10000000.0       1
              ...
5.0              2
3.0              1
2.0              3
1.0            156
0.0           1421
Name: price, Length: 2357, dtype: int64

?? So many free cars ?? I think it would be best to drop them. Removing cars cheaper than $100

In [16]:
autos["price"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [17]:
drop_bool = (autos["price"] > 100)
autos = autos[drop_bool]

In [19]:
autos[["date_crawled","ad_created","last_seen"]][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

Below we calculate the percentage of date crawled, ad created and last seen columns

In [28]:
date_crawled_per = autos["date_crawled"].str[:10].value_counts(normalize=True, dropna = False).sort_index()
date_crawled_per

2016-03-05    0.025383
2016-03-06    0.014053
2016-03-07    0.035943
2016-03-08    0.033261
2016-03-09    0.033012
2016-03-10    0.032347
2016-03-11    0.032638
2016-03-12    0.036962
2016-03-13    0.015716
2016-03-14    0.036629
2016-03-15    0.034218
2016-03-16    0.029436
2016-03-17    0.031515
2016-03-18    0.012868
2016-03-19    0.034716
2016-03-20    0.037752
2016-03-21    0.037315
2016-03-22    0.032949
2016-03-23    0.032284
2016-03-24    0.029436
2016-03-25    0.031390
2016-03-26    0.032222
2016-03-27    0.031120
2016-03-28    0.034987
2016-03-29    0.034114
2016-03-30    0.033781
2016-03-31    0.031848
2016-04-01    0.033677
2016-04-02    0.035590
2016-04-03    0.038604
2016-04-04    0.036587
2016-04-05    0.013097
2016-04-06    0.003160
2016-04-07    0.001393
Name: date_crawled, dtype: float64

In [29]:
ad_created_per = autos["ad_created"].str[:10].value_counts(normalize=True, dropna = False).sort_index()
ad_created_per

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
                ...
2016-04-03    0.038853
2016-04-04    0.036941
2016-04-05    0.011829
2016-04-06    0.003243
2016-04-07    0.001247
Name: ad_created, Length: 76, dtype: float64

In [30]:
last_seen_per = autos["last_seen"].str[:10].value_counts(normalize=True, dropna = False).sort_index()
last_seen_per

2016-03-05    0.001081
2016-03-06    0.004303
2016-03-07    0.005384
2016-03-08    0.007317
2016-03-09    0.009583
2016-03-10    0.010644
2016-03-11    0.012411
2016-03-12    0.023844
2016-03-13    0.008877
2016-03-14    0.012618
2016-03-15    0.015820
2016-03-16    0.016423
2016-03-17    0.028064
2016-03-18    0.007317
2016-03-19    0.015758
2016-03-20    0.020664
2016-03-21    0.020580
2016-03-22    0.021370
2016-03-23    0.018585
2016-03-24    0.019707
2016-03-25    0.019104
2016-03-26    0.016693
2016-03-27    0.015508
2016-03-28    0.020809
2016-03-29    0.022327
2016-03-30    0.024634
2016-03-31    0.023865
2016-04-01    0.022867
2016-04-02    0.024863
2016-04-03    0.025133
2016-04-04    0.024509
2016-04-05    0.125166
2016-04-06    0.221977
2016-04-07    0.132193
Name: last_seen, dtype: float64

Dropping rows with unrealistic fate values

In [40]:
autos = autos[autos["registration_year"].between(1900,2022)]

In [41]:
autos["registration_year"].describe()

count    48085.000000
mean      2003.503483
std          7.511703
min       1910.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       2019.000000
Name: registration_year, dtype: float64

In [47]:
brands = autos["brand"].value_counts(normalize=True)
most_pop_brands = brands[brands > 0.05].index

In [53]:
brand_means = {}
for brand in most_pop_brands:
    brand_only = autos[autos["brand"] == brand]
    mean_price = brand_only["price"].mean()
    brand_means[brand] = int(mean_price)

In [54]:
brand_means

{'volkswagen': 6660,
 'bmw': 8547,
 'opel': 5359,
 'mercedes_benz': 30187,
 'audi': 9268,
 'ford': 7409}

These are the means of common brands. It looks like: 
1. audi bmw are more expensive
2. opel is the cheapest one
3. mercedes benz too much expensive

In [74]:
bm_serie = pd.Series(brand_means)
bm_serie

volkswagen        6660
bmw               8547
opel              5359
mercedes_benz    30187
audi              9268
ford              7409
dtype: int64

In [59]:
brand_miles = {}
for brand in most_pop_brands:
    brand_only = autos[autos["brand"] == brand]
    mean_km = brand_only["odometer_km"].mean()
    brand_miles[brand] = int(mean_km)

In [71]:
miles_serie = pd.Series(brand_miles)

In [75]:
miles_serie

volkswagen       129045
bmw              132849
opel             129512
mercedes_benz    131111
audi             129619
ford             124312
dtype: int64

In [76]:
bm1_df = pd.DataFrame(bm_serie,columns=["mean_price"])
bm2_df = pd.DataFrame(miles_serie,columns=["mean_km"])

In [78]:
bm1_df
bm2_df

               mean_km
volkswagen      129045
bmw             132849
opel            129512
mercedes_benz   131111
audi            129619
ford            124312

In [80]:
brand_info = bm1_df
brand_info["mean_km"] = bm2_df

In [81]:
brand_info

               mean_price  mean_km
volkswagen           6660   129045
bmw                  8547   132849
opel                 5359   129512
mercedes_benz       30187   131111
audi                 9268   129619
ford                 7409   124312